* {
    font-family: 'Source Sans Pro', sans-serif;
}
.AR-btn {
    background-color: #D52316;
    border: 2px solid transparent;
    border-radius: 6rem;
    cursor: pointer;
    font-size: 0.9375rem;
    font-weight: bold;
    line-height: 1rem;
    margin: 1.5em 0;
    min-width: 208px;
    padding: 10px 17px;
}

.AR-btn .button-content {
    display: flex;
    align-items: center;
}

.AR-btn p {
    margin: 0
}

.AR-btn p.text {
    color: #fff;
    margin-right: 0.5em;
} 

.banners {
    display: flex;
    justify-content: space-around;
}

.banner-320-details {
    background-image: url(https://www.plantagen.se/dw/image/v2/BCMR_PRD/on/demandware.static/-/Library-Sites-PlantagenShared/default/dw15f5228d/gyo-startpage-picture-vers2-sp2-2021-1280x600.jpg?sw=1200);
    background-repeat: no-repeat;
    background-size: 700px 320px;
    height: 320px;
    margin-bottom: 2em;
    width: 320px;
}

.banner-640-details {
    background-image: url(https://www.plantagen.se/dw/image/v2/BCMR_PRD/on/demandware.static/-/Library-Sites-PlantagenShared/default/dw15f5228d/gyo-startpage-picture-vers2-sp2-2021-1280x600.jpg?sw=1200);
    height: 320px;
    width: 640px;
}

.banner-320-details, .banner-640-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    background-color: #ece2d7;
    padding: 1em 0;
    text-align: center;
}

.model-viewer{
    background-color: rgba(236, 226, 215, 0.8);
    border-radius: 3em;
    margin-top: 1em;
}

.model-viewer#large {
    width: 400px;
    height: 700px;
}

.model-viewer#mobile {
    width: 300px;
    height: 500px;
}

.icon-3D {
    color: wheat;
    height: 24px;
}